body{
    margin:0 auto;
    width: 2000px;
    height: 100px;
}

.mian{
    background-image: url(../images/back.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    width: 2000px;
    height: 60px;
}

.mian-left{
    float: left;
}

.mian-left img{
    margin-left: 200px;
    margin-top: 10px;
    width: 130px;
    height: 43px;
}

.mian-right{
    float: right;
}
.right{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right{
    margin-left: 300px;
    position: absolute;
    top: 15px;
}

.right li{
    position: static;
    display: inline;
    margin-left: 15px;
}

.right a{
    padding: 10px 10px;
    font-size: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Tahoma;
    outline: none;
}

.nav-1{
    margin-left: 150px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 10px;
}

a:hover{
    background: black;
    border: 1px none;
    border-radius: 25px;
    padding: 10px 10px;
}
