*{padding: 0px; margin: 0px;}
header{
    width: 1755px;
    height: 76px;
    background: url(/images/3S9sFMD.jpg);
}
div img{
    margin-left: 280px;
    margin-top: 15px;
    margin-right: 90px;
    height: 45px;
    width: 125px;
    float: left;
}
ul li{
    list-style: none;
    margin-top: 25px;
    float: left;
}
li a{
    text-decoration:none;
    position: relative;
}
a p{
    padding:0px 10px ;
    font-size: 14px;
    margin-right: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    border-radius: 15px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
span{
    padding:5px 10px ;
    font-size: 14px;
    margin-right: 7px;
    font-family: "黑体";
    color: #fff;
    border-radius: 15px ;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
a p:hover{
    background: url(/images/3w4CwHw.png) no-repeat scroll;
    margin-top: 1px;
    border-bottom: 1px solid #5e5f5a;
    border-right: 1px solid #5e5f5a;
    margin-left: -1px;
}
.beij{
    text-decoration: none;
    font-weight: 540;
    border-bottom: 1px solid #5e5f5a;
    border-right: 1px solid #5e5f5a;
    background: url(/images/lTcb_ve.png) no-repeat scroll;
}