*{
    margin : 0px;
    padding: 0px;
}
.beij{
    height: 75px;
    background: url(images/3S9sFMD.jpg)repeat-x;
}
.buju{
    width: 968px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    
}
.head{
    height: 75px;
    width: 130px;
    overflow: hidden;
    float: left;
}
.logo{
    float: left;
    margin-top: 14px;
    height: 44px;
}
ul,li{
    list-style: none; 
}
.nav{
    height: 200px;
    width: 968px;
    margin-left: 200px; 
    
}

li a{
   float: left;
   margin-top: 20px;
    padding-right:10px; 
    padding-left: 10px;
    line-height: 33px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
.sy{
    height: 30px;
    width: 35px;
    border-radius: 30px;
    background: url(images/lTcb_ve.png)no-repeat scroll 100%;
    
}
.sy span{
    width: 100px;
    font-weight: 700;
    
    margin-left: 1px;
}

li .sw:hover{
    font-weight: lighter;
    border-radius: 30px;
    background:url(images/3w4CwHw.png)no-repeat scroll 50%;
    color:#fff;
}
